#image {
  display: block;
  max-width:100%;
  height: auto;
}

#main{
    background: #eee;
}
#title {
  text-align: center;
}

#img-div{
  display: block;
  justify-content: center;
  
}

p{
  text-align: center;
}

h2{
  text-align: center;
}
